<!DOCTYPE html>
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'kanri/app.css' %}">

    <title>商品管理</title>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">商品管理</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="{% url 'kanri:list'%}">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="{% url 'kanri:product-form'%}">商品登録</a>
        <a class="nav-item nav-link" href="{% url 'kanri:trader-form'%}">業者登録</a>
      </div>
    </div>
  </nav>
<body>
    {% block content %}
    {% endblock %}

</body>

</html>